<div class="container">
  <div class="d-flex flex-column bd-highlight mb-3">
    <ul>
    {{#each expense}}
    <li>
      <i class="{{this.categoryIcon}}"></i>
      <h6>{{this.name}}</h6>
      <h6>{{this.amount}}</h6>
      <h6>{{this.date}}</h6>
    </li>
    {{/each}}
    </ul>  
  </div>
</div>